---
const { jsonBook,bookSizeMinMax } = Astro.props;
import { RNG } from "./randomNuberSeed.js";

const dataDocSizeData = JSON.parse(jsonBook.data.doc_position)

const book_heigth_seed = jsonBook.uri.split("").reduce((a ,b)=> a + b.charCodeAt(0),0)
let book_height = new RNG(book_heigth_seed).nextInt() % bookSizeMinMax.max_height;
book_height = Math.max(bookSizeMinMax.min_height,  book_height);

let book_width = dataDocSizeData.pagesCount/bookSizeMinMax.page_px_ratio;
book_width = Math.max(bookSizeMinMax.min_width,  book_width);
book_width = Math.min(bookSizeMinMax.max_width,  book_width);

const isFavorite = jsonBook.data.doc_favorites_time > 0;
const bookStyle = `
  background: #3E4B5B;
  border: 2px solid ${isFavorite ? "#B48EAD" : "#81A1C1"};
  color: ${isFavorite ? "#B48EAD" : "#81A1C1"}; ${isFavorite ? "margin-bottom: 2px;" : ""}
  width: ${book_width}px;
  height: ${book_height}px;
// transform: rotate(90deg) scaleX(-1);
`;
---
  <div
    id={jsonBook.uri}
    class="book"
    style={bookStyle}
  >
    {jsonBook.data.doc_title}
  </div>

  <script define:vars={{
    json_book: jsonBook, 
  }}>
    
    const book = document.getElementById(`${json_book.uri}`);
    book.addEventListener('click', () => {
      
        console.log(book)
      });
  </script>

